.merah {
  color: red;
}
.kuning {
  color: yellow;
}
.hijau {
  color: green;
}
.biru {
  color: blue;
}
.pink {
  color: pink;
}
.custom {
  color: #9402f2;
}
.tengah {
  text-align: center;
}
.position {
  background-color: aqua;
  text-align: center;
  font-weight: 400;
  padding: 25px 50px 25px 50px;
}
#tengah {
  text-align: left;
}
.container {
  max-width: 70%;
  margin-left: 250px;
}
